.navbar-brand {
  font-family: 'Pacifico';
}

.navbar {
  background-color: teal;
}

.btn-primary{
  background-color: teal;
  border-color: teal;
}

a{
  color: #343a40;
}

a:hover{
  color: #121820;
}